extends layout

block content
  - var peeps = ['Patrick', 'Joe']
  .content(ng-controller="mechantCtrl")
    h1= title
    p Welcome to #{title}
    ul
      for peep in peeps
        li: a(ng-click="getPerson('" + peep + "')" href="#" + peep)
          = peep
    .people
      .person(ng-repeat="person in people")
        {{person.name}} {{person.surname}} is possibly {{ person.age }} years old
