doctype html
html(ng-app="mechante")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/vendor/angular/angular.min.js')
    script(src='/javascripts/app.controllers.js')
